.wrapper {
    display: flex;
    flex-direction: column;
}

/* header section */

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    background: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
}

/* section one */

.section.one {
    display: flex;
    background: #1F2937;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 150px;
}

.one-container {
    display: flex;
    margin: 0 auto;
    width: 75%;
    justify-content: space-around;
}

.content-container > * {
    flex: 1;
}

.text-one {
    margin-right: 30px;
}

.text-one .one {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.text-one .two {
    font-size: 18px;
    color: #E5E7EB;
}

/* button styling */

.button-one {
    background-color: #3882f8;
    border-radius: 20%;
    padding: 5px 20px;
    border: none;
    color: white;
}

.button-one:hover {
    background-color: #5f9cff;
}

.button-one:active {
    background-color: #1168f5 ;
}

/* image styling */

.image-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pug-one {
    width: auto;
    height: 200px;
}

/* section two */

.section.two {
    display: flex;
    flex-flow: column wrap;
    padding: 25px;
    padding-bottom: 125px;
}

.two-title {
    display: flex;
    text-align: center;
    margin: 30px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 36px;
    height: 65px;
    flex: 1;
}

.two-container {
    flex: 1 1 auto;
    gap: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    margin: 0 20vw;
}

.two-box {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    width: 175px;
}

.pug-two {
    border: royalblue 5px solid;
    height: 130px; width: 130px;
    border-radius: 10%;
    margin: 0 auto;
    object-fit: cover;
}

.pug-two.two {
    object-position: bottom;
}

.pug-two.four {
    object-position: top;
}

.two-text {
    text-align: center;
}

/* section three */

.section.three {
    padding: 100px;
    background-color: #E5E7EB;
}

.three-text-quote {
    font-size: 36px;
    font-style: italic;
    opacity: 70%;
    color: #1F2937;
}

.three-text-reference {
    font-size: 25px;
    font-weight: bold;
    text-align: end;
}

/* section four */

.section.four {
    padding: 50px 45px;
    justify-content: center;
    display: flex;
}

.four-container {
    display: flex;
    background-color: #3882f8;
    padding: 40px 80px;
    border-radius: 10px;
    flex-wrap: wrap;
    max-width: 900px;
    flex: 1;
}

.four-container > * {
    flex: 1;
    margin: 0 10px;
}

.call-action {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    bottom: 5px;
}

.four-text {
    color: white;
    flex-grow: 2;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-four {
    background-color: #3882f8;
    color: white;
    border: white 2px solid;
    border-radius: 15px;
    width: 150px; height: 40px;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
}

.button-four:hover {
    background-color: #4b8cf5;
}

.button-four:active {
    background-color: #2175fc;
}

/* footer */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}