.wrapper {
    display: flex;
    flex-direction: column;
}

/* header section */

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    background: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
}

/* section one */

.section.one {
    display: flex;
    background: #1F2937;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 200px;
}

.one-container {
    display: flex;
    margin: 0 auto;
    width: 75%;
}

.content-container > * {
    flex: 1;
}

.text-one .one {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.text-one .two {
    font-size: 18px;
    color: #E5E7EB;
}

/* button styling */

.button-one {
    background-color: #3882f8;
    border-radius: 20%;
    padding: 5px 20px;
    border: none;
    color: white;
}

.button-one:hover {
    background-color: #5f9cff;
}

.button-one:active {
    background-color: #1168f5 ;
}

/* image styling */

.image-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pug {
    width: auto;
    height: 200px;
}

/* section two */

.section.two {
    display: flex;
    flex-flow: column wrap;
    height: 400px; width: auto;
    border: red 2px solid;
}
.section.two > * {
    border: red 2px solid;
}
.section.two > * > * {
    border: red 2px solid;
}

.two-title {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
}

.two-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.image-two.one {
    background: url("images/pug-one.webp");
    height: 100px; width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.image-two.two {
    background: url("images/pug-two.webp");
    height: 100px; width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.image-two.three {
    background: url("images/pug-three.jpeg");
    height: 100px; width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.image-two.four {
    background: url("images/pug-four.webp");
    height: 100px; width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}